# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
JavaWebServices-ear/nb-configuration.xml
JavaWebServices-ear/src/main/application/META-INF/glassfish-application.xml
JavaWebServices-ejb/nb-configuration.xml
JavaWebServices-rest/nb-configuration.xml
JavaWebServices-rest/src/main/webapp/WEB-INF/weblogic.xml
JavaWebServices-soap/nb-configuration.xml
JavaWebServices-soapClient/nb-configuration.xml
